.header{
    background-color: blueviolet;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(130, 238, 161);
    


}
.stats{
    width: 1500px;
    height: 900px;
    display: flex;
    flex-direction: row;
    background-color: bisque;
    text-align: center;
    color: rgb(9, 9, 9);
}

.stat{
    margin: 20px;
    border-radius: 10px;
    background-color:white ;
    width: 500px;
    height: 300px;
    flex-direction: row;
    padding: 10px;
    text-align: center;
    font-size: 36px;
    color: rgba(14, 14, 15, 0.81);


}
.stat.hovered {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    border-color: #007bff;
}